<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--    配置拦截的规则
            auto-config 使用自带页面
            use-expressions 是否使用spel表达式
    -->
    <security:http auto-config="true" use-expressions="false">
        <!--        配置拦截地址-->
        <security:intercept-url pattern="/**" access="ROLE_USER"/>
    </security:http>
    <!--    配置认证信息-->
    <security:authentication-manager>
        <security:authentication-provider >
            <!--&lt;!&ndash;指定加密工具&ndash;&gt;-->
            <!--<security:password-encoder ref="passwordEncoder"/>-->
            <security:user-service>
                <!--临时账户密码-->
                <security:user name="admin" password="{noop}admin" authorities="ROLE_USER"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" id="passwordEncoder"/>
</beans>